body{
    background-color: black;
    color: white;
    text-align: center;
    height :100vh;
    width: 100vw;
    background-image: url('../image/nasa.jpg');
    background-repeat : no-repeat;
    background-size : cover;
}
div.aa{
    background-color: rgba(0,0,0,0.6);
    font-size: 200%;
    margin:0 auto;
    padding: 2.5%;
}
div.aa:hover{
    background-color: rgba(218,165,32,0.8);
    color : white;
    padding : 2.5%;
    transition: 0.5s;
    font-size: 300%;
}
div.aa:not(:hover){
    background-color: rgba(0,0,0,0.6);
    color : white;
    padding : 2.5%;
    transition: 0.5s;
}

div.bb{
    background-color: rgba(0,0,0,0.6);
    font-size: 200%;
    margin:0 auto;
    padding: 2.5%;
}
div.bb:hover{
    background-color: rgba(211,211,211,0.8);
    color : white;
    padding : 2.5%;
    transition: 0.5s;
    font-size: 300%;
}
div.bb:not(:hover){
    background-color: rgba(0,0,0,0.6);
    color : white;
    padding : 2.5%;
    transition: 0.5s;
}

div.cc{
    background-color: rgba(0,0,0,0.6);
    font-size: 200%;
    margin:0 auto;
    padding: 2.5%;
}
div.cc:hover{
    background-color: rgba(205, 127, 50,0.8);
    color : white;
    padding : 2.5%;
    font-size: 300%;
    transition: 0.5s;
}
div.cc:not(:hover){
    background-color: rgba(0,0,0,0.6);
    color : white;
    padding : 2.5%;
    transition: 0.5s;
}

div.c{
    background-color: rgba(255,0,0,0.3);
    font-size: 200%;
    margin:0 auto;
    padding: 2.5%;
}
div.c:hover{
    background-color: rgba(255,0,0,0.5);
    color : white;
    padding : 2.5%;
    transition: 0.5s;
    font-size: 270%;
}
div.c:not(:hover){
    background-color: rgba(255,0,0,0.3);
    color : white;
    padding : 2.5%;
    transition: 0.5s;
}
div.b{
    font-size : 250%;
    font-weight: 900;
}
a{
    color :black;
    text-decoration: none;
}